* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
    font-family: "Gabriel Weiss' Friends Font", serif;
    background-color: darkcyan;
}

.menu {
    width: 400px;
    margin: 30px auto 40px;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu ul li {
    font-size: 24px;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover, a:active {
    color: #fff;

}

#logo {
    position: relative;

    top: 20px;
    display: block;
    margin: 0 auto 20px;
    width: 250px;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    background-color: beige;
    padding: 10px 15px;
    border-radius: 5px;
}

.questions {
    overflow-y: scroll;
    height: 640px;
}

input {
    margin-bottom: 10px;
}

label{
    display: block;
}

.question label {

    margin-bottom: 10px;
}

#name {
    margin-bottom: 20px;
}

.answer {
    display: flex;
    margin-left: 18px;
    gap: 10px;
}

/*.answer:last-child {*/
/*    justify-content: center;*/
/*}*/

.question .answer:last-child {
    margin-bottom: 30px;
    justify-self: flex-start;
}

.send{
    display: flex;
    justify-content: center;
}

.send button{
    font-size: 22px;
    background-color: aquamarine;
    border: 0;
    padding: 5px 15px;
    border-radius: 3px;

}

.send button:hover {
    cursor: pointer;
}

#points {
    display: flex;
    justify-content: center;
    color: red;

}